<div class="container mt-4">
  <!--
  <div  [id]="idParagraph" [class]="classParagraph"></div>

  <div class="mt-4">
    <button (click)="onClickButton()" class="btn btn-primary">Click me</button>
  </div>

  <div class="mt-4">
    <div *ngIf="display" class="lead">Display / Hide</div>
  </div>

  <div class="mt-4">
    <div class="row">
      <div class="col-md-6">

        <input [(ngModel)]="nom" (keyup)="displayNom()" type="text" class="form-control" placeholder="Enter your name">
        <div *ngIf="displayName" class="lead mt-1">

          <span class="fw-semibold">Nom :</span> {{ nom | titlecase }}
        </div>
      </div>
    </div>

    <div class="mt-4">
      <div class="row">
        <div class="col-md-8">
          <table class="table table-hover table-dark">
            <thead>
            <tr>
              <th scope="col">Brand</th>
              <th scope="col">Model</th>
              <th scope="col">Year</th>
              <th scope="col">Color</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let car of cars" [id]="car.id">
              <td>{{car.name}}</td>
              <td>{{car.model}}</td>
              <td>{{car.year}}</td>
              <td>{{car.color}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

--->
<div class="display-1">Home</div>
  <button class="btn btn-primary" (click)="onLogin()">Login</button>
</div>
